@import "../../styles/main.scss";

// select language
.btn-select__language {
  position: relative;
  background: none;
  border: none;
  outline: none;
  @include text(fs("subtitle3"), tc("textBlack"), fw("fwLight"), 0);
  border-bottom: 1px solid #555;
  padding-bottom: 8px;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
  padding: 5px 0px;
  z-index: 2;

  &:after {
    content: "▾";
    position: absolute;
    right: 0px;
    top: 0%;
  }
}

.label__language {
  display: block;
  @include text(fs("body2"), tc("textPrimary"), fw("fwExtraLight"), 0);
  text-align: left;
}

.dropdown {
  position: relative;
  width: 100%;

  .dropdown-options {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    box-shadow: 0 2px 4px rgba(black, 0.24);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    opacity: 0;
    transform: scale(0.8) translate3d(-20px, 0px, 0);

    transition: opacity 0.1s cubic-bezier(0.5, 2, 0.5, 0.75),
      transform 0.3s cubic-bezier(0.5, 2, 0.5, 0.75);

    transform-origin: 0 100%;
    z-index: 1;

    &.open {
      opacity: 1;
      transform: scale(1) translate3d(0, 0, 0);
      z-index: 5;
    }

    li {
      display: block;
      a {
        cursor: pointer;
        text-decoration: none;
        display: block;
        padding: 10px 16px;
        @include text(fs("subtitle1"), tc("textBlue"), fw("fwExtraLight"), 0);

        &:hover {
          background-color: rgba(212, 211, 211, 0.473);
        }

        &.active {
          border-bottom: 2px solid #2975da;
          color: #2975da;
          &:hover {
            color: #2975da;
          }
        }
      }
    }
  }
}
